body {
  font-family: Arial, sans-serif;
  background: #bbbbbb;
  margin: 0;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

header nav button {
  margin-left: 0.9rem;
  padding: 0.6rem 0.8rem;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

header nav button:hover {
  background: #666;
}

.controls {
    background: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.1rem;
    align-items: center;
    padding: 0.7rem;
    font-size: 0.8rem;

    button {
        padding: 0.2rem;
        background-color: transparent;
        color: black;
        font-weight: bold;
        border-radius: 0.5rem;
    }

    input {
        width: 4rem;
    }
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.controls button:hover {
    background-color: rgb(232, 232, 232);
    cursor: pointer;
}

#graph {
  background: white;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
}

/* Graph styling */
.edge {
  stroke: #aaa;
  stroke-width: 2px;
}

.edge.path {
  stroke: orange;
  stroke-width: 4px;
}

.node {
  fill: black;
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}

.node.start {
  fill: green;
}

.node.end {
  fill: red;
}

.node.visited {
  fill: blue;
}

.info {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color: black;
    font-size: 1.1rem;
}